body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: roboto, Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 400px;
    height: 300px;
   
}

.container {
    background-color: #1f2937;
}
h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #f96d6d;
}

h5 {
    font-size: 24px;
    color: #f9faf8;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -10px;

}

.header-link {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

#subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.subcontainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.group {
    align-self: center;
    padding: 20px;
    line-height: 14px;
}
h3 {
    display: flex;
    justify-content: center;
    color: #1f2937;
}
.container2 {
    margin: 50px;
    color: #1f2937;
   
}
.graff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    margin: 0;
    justify-content: space-evenly;
   
}
.card img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-style: solid;
    color: aqua;
}

.graff-text {
    text-align: center;
    
}

.container3 {
    background-color: #e5e7eb;
    padding: 20px;
    padding-left: 200px;
    
    
}

h6
 {
    text-align: end;
    margin-right: 150px;
 }

 h6,
 .quote {
    color: #1f2937;
    font-size: 24px;
 }

 button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    
 }

.call {
    display: block;
    line-height: .5;
    margin: 30px;
    
    

}
 
.container4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid;
    margin: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: #3882f6;
    color: #f9faf8 ;
 }

 .border {
    border-color: #e5e7eb;
 }

 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
    background-color: #1f2937;
    color: #e5e7eb;
 }